@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fleur+De+Leah&display=swap');



/* taille des nuages */

header img {
    width : 200px;
    margin: 0 30px;
}

/* nuage souriant*/

#smily {
    position: relative;
    bottom  : 10px;
}

/* nuage qui dort*/

#sleep {
    position: relative;
    top     : 50px;
}

body {
    background-color: palevioletred;
    font-family     : 'Poppins', sans-serif;
}

/* class flex pour éviter de s'embêter */

.flex {
    display        : flex;
    justify-content: center;
}

section {
    border             : 20px solid palevioletred;
    border-radius      : 30px;
    width              : 100%;
    background-color   : #FEF6F4;
}

/* h1 forcément ... */

h1 {
    /* font-family   : 'Fleur De Leah', cursive; */
    font-family: 'Cookie', cursive;
    font-weight   : bold;
    font-size     : 50px;
    word-spacing  : 10px;
    letter-spacing: 5px;
    margin-top    : 10px;

}

/* Boutons pour filtrer les tâches */
.filters {
    display        : flex;
    justify-content: center;
    margin-top     : 70px;
    gap            : 50px;
    /* cursor      : pointer; */
}

/* boutons filter*/

.filter {
    width        : 95px;
    height       : 30px;
    border-radius: 30px;
    color        : white;
    display      : flex;
    align-items  : center;
    gap          : 5px;
    padding-left : 10px;
    border       : 2px solid #fff;
}

.filters .todo,
.status.todo {
    background-color: #F3C6AF;
}

.filters .doing,
.status.doing {
    background-color: #EDA480;
}

.filters .done,
.status.done {
    background-color: #B57454;
}

#todo {
    border-radius: 50%;
    border       : white;

}

/* div de Header que j'alligne au centre*/

header div {
    display    : flex;
    align-items: center;
}

/* Div contenant toutes les div de la liste ( checkbox - lignes - boutons ) */

#boxes {
    display       : flex;
    flex-direction: column;
    text-align    : left;
    margin        : 0 300px;
}

.justify {
    display        : flex;
    justify-content: space-evenly;
}

/* Checkbox : */

#check {
    height: 25px;
    width : 25px;
}

/* Div pour aligner la checkbox + la ligne <p> + les boutons modifier: */

.boxesButton {
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
    margin         : 10px 0;
}

/*Lignes du milieu en attendant de trouver mieux (dans balise <p>)*/

.boxesButton p {
    margin: 0;
    color : #C4C4C4;

}

/* boutons Mofifier avec dropDown : */
.btn-group button {
    background-color: #F29AA0;
}

.btn {
    border: 1px solid white;
}

/* "marge" du menu dropdown */

.dropdown-menu {
    background-color: black;
}

/* Dropdown des boutons Modifier : */

.dropdown-item {
    text-align      : center;
    background-color: #F29AA0;
    font-weight     : bold;
}

/* Boutons poubelle supprimer tâche */
.delete {
    background-color: #FEF6F4;
    border          : none;
}

/* Ajouter une nouvelle tâche */

#writing {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    align-items   : center;
    margin        : 30px 0;

}

.sendList {
    width           : 300px;
    border          : none;
    border-bottom   : 1px dashed #C2C2C2;
    background-color: #FEF6F4;
    text-align      : center;
    font-style      : italic;
    font-size       : 12px;
}

/* Boutons du formulaires */
.btn-add-task {
    width          : 320px;
    display        : flex;
    gap            : 20px;
    font-size      : 12px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

/* Bouton ajouter une tâche et random */
#task-btn,
#random-btn {
    background-color: #C2C2C2;
    color           : white;
    border          : none;
    border-radius   : 30px;
    height          : 25px;

}

/* Bouton tâche aléatoire */
#random-btn {
    background-color: palevioletred;
}


/* nuage du bas */
#joy {
    height  : 200px;
    position: relative;
    bottom  : 20px;
    right   : 50px;
}

.joy {
    display        : flex;
    justify-content: flex-end;
    padding-top: 30px;
}


/* Stylisation du Status des taches ( to do etc )*/

.status {
    width           : 75px;
    height          : 30px;
    justify-content : center;
    border-radius   : 30px;
    color           : white;
    display         : flex;
    align-items     : center;
    background-color: #F3C6AF;
}

.value {
    width  : 60%;
    display: flex;
}


/* Formulaire pour modifier une tâche */
#edit-form{
    display: flex;
    gap: 10px;
}
#edit-btn{
    width: 60px;
    height: 25px;
    background-color: #A5C9C9;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 5px;
}



/* ------ MEDIAS QUERIES ------- */


@media screen and (min-width: 1200px) {

    #boxes {
        margin    : 0;
        box-sizing: content-box;
    }

    #joy {
        height: 150px;
    }

}

@media screen and (max-width: 1280px) {
    #boxes {
        margin    : 0;
        box-sizing: content-box;
    }

    .cloud {
        height: 120px;
    }

    #joy {
        height: 120px;
        bottom: -37px;
    }
}

@media screen and (min-width: 680px) and (max-width: 834px) {
    #joy {
        height: 50px;
    }

}

@media screen and (max-width: 500px) {


    header {
        justify-content: center;
    }

    .cloud {
        height: 50px;
        width: 50px;
    }

    #sleep {
        top: 0px;
    }

    #joy {
        height: 40px;
    }

    div h1 {
        display: flex;
        font-size: 26px;
    }

    .sideToSide {
        display: flex;
    }
    
}